body{
    background: #333;
    color: #fff;
}

.navbar{
    border-bottom: .3rem solid #008ed6;
    background: #295b2c;
    opacity: 0.7;
}


#home-section{
    background: url(../img/home.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70rem;
}

#home-section .dark-overlay{
    background: rgba(0, 0, 0, 0.7);
    min-height: 70rem;
}

#home-section .home-inner{
    padding-top: 15rem;
    padding-bottom: 5rem;
}

#home-section .fas{
    font-size: 2rem;
}


.fas{
    font-size: 2rem;
}